body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

header {
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px 20px 20px 10px;
  border-right: solid 2px #fff;
  font-size: 40px;
  color: #fff;
}

header label:hover {
  cursor: pointer;
  background: rgb(0,0,0,0.3);
}

.menu img {
  height: 50px;
  margin: 4px 0 5px 10px;
  background: #fff;
  padding: 0px 10px;
  border-radius: 10px;
  position: absolute;
}

.menu ul {
  background: red;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #277eb8;
}

.menu li {
  border-right: solid 2px #fff;
  position: relative;
}

.menu ul li:last-child {
  border-right: 0;
}
.menu ul li a {
  display: block;
  padding: 20px 20px;
  color: #fff;
}

.menu li:hover {
  background: rgb(0,0,0,0.3);
}

.drop ul {
  z-index: 1;
  position: absolute;
  display: none;
  background: none;
}

.drop ul li {
  border-right: 0;
}

.drop ul li a{
  border-bottom: solid 2px #277eb8;
  background: #e0d4d4;
  color: #000;
}
.drop ul li a:hover{
  background-color: #a2a0a2;
  color: #fff;
}

.drop ul li:last-child a {
  border-bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop:hover ul{
  display: block;
}
.menu ul li {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


#Alojamientos {
  width: 95%;
  margin: 30px auto;
  position: absolute;
  display: block;
  top: 59px;
  padding: 30px;
  padding-top: 0px;
}

#Alojamientos h1 {
  font-size: 50px;
  transform: translateX(35%) translateY(-50%);
  color: #277eb8;
}

.alojamiento {
  height: 250px;
  border-bottom: solid 1px #999;
  padding-bottom: 10px;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 15px;
}

.alojamiento:hover {
  box-shadow: 5px 5px 5px 5px #999;
}

.alojamiento img {
  height: 100%;
  width: 450px;
  display: inline-block;
  object-fit: cover;
}

#disponibilidad {
  position: absolute;
  display: block;
  /* right: 10px; */
  width: 100%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.disponible {
  color:green;
}

.rentada {
  color: red;
}

.info {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding: 0px 20px;
  height: 100%;
  position: relative;
}

.info p {
  text-align: justify;
  width: 80%;
}

.info h5 {
  padding-left: 20px;
  margin-bottom: 0;
  text-align: right;
}

.info h2 {
  margin-top: 6px;
}

.info h3 {
  margin-bottom: 0;
  top: 30px;
  vertical-align: bottom;
  text-align: right;
}


/**********NO TIENE ALOJAMIENTOS********/

.noAlojamiento {
  position: relative;
  display: block;
  width: 105%;
  height: 900px;
  text-align: center;
  width: auto;
  height: auto;
}

#nueva {
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #277eb8;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#boton {
  transform: translateX(45%);
  padding-top: 20px;
}

.noAlojamiento #tit {
  font-size: 40px;
  color: #8b8c8f;
  padding-top: 170px;
  transform: translateY(-2%);
}

.noAlojamiento h3 {
  font-size: 20px;
  color: #8b8c8f;
}

a {
  color: #000;
  text-decoration: none;
}
