body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

header {
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px 20px 20px 10px;
  border-right: solid 2px #fff;
  font-size: 40px;
  color: #fff;
}

header label:hover {
  cursor: pointer;
  background: rgb(0,0,0,0.3);
}

.menu img {
  height: 50px;
  margin: 4px 0 5px 10px;
  background: #fff;
  padding: 0px 10px;
  border-radius: 10px;
  position: absolute;
}
.menu ul {
  background: red;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #277eb8;
}

.menu li {
  border-right: solid 2px #fff;
  position: relative;
}

.menu ul li:last-child {
  border-right: 0;
}
.menu ul li a {
  display: block;
  padding: 20px 20px;
  color: #fff;
}

.menu li:hover {
  background: rgb(0,0,0,0.3);
}

.drop ul {
  z-index: 1;
  position: absolute;
  display: none;
  background: none;
}

.drop ul li {
  border-right: 0;
}

.drop ul li a{
  border-bottom: solid 2px #277eb8;
  background: #e0d4d4;
  color: #000;
}
.drop ul li a:hover{
  background-color: #a2a0a2;
  color: #fff;
}

.drop ul li:last-child a {
  border-bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop:hover ul{
  display: block;
}
.menu ul li {
  margin: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width:768px) {

  header {
    background-color: #277eb8;
  }
  header label {
    display: block;
  }

  .menu {
    position: absolute;
    z-index: 1;
    width: 60%;
    margin-left: -70%;
    transition: all 0.5s;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu img {
    display: none;
  }

  .menu ul li a{
    border-top: solid 2px #fff;
    padding: 20px;
  }

  .menu ul li:last-child {
    border-right: solid 2px #fff;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }
  .slider {
    display: none;
  }
}

#primeraSeccion {
  width: 95%;
  margin: 10px auto;
  position: absolute;
  display: block;
  top: 59px;
  padding-top: 0px;
}

.alojamiento {
  width: 300px;
  color: #fff;
  border-radius: 20px;
  background: #277eb8;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
}

.imagen {
  display: block;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.imagen img {
  width: 100%;
  border-radius: 10px;
}

.alojamiento h2 {
  text-align: center;
}

.alojamiento button {
  /* display: inherit; */
  width: 90%;
  margin: 0px 15px;
  border-radius: 20px;
  color: #fff;
  background: rgb(18, 171, 110);
  border: none;
  margin-bottom: 30px;
  padding: 10px;
  outline: none;
  font-weight: bold;
}

.alojamiento button:hover {
  background: #5a9d69;
}

.noRentas {
  position: relative;
  display: block;
  width: 105%;
  height: 900px;
  text-align: center;
}

.noRentas button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #277eb8;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.noRentas h1 {
  font-size: 40px;
  color: #8b8c8f;
  padding-top: 170px;
}

.noRentas h3 {
  font-size: 20px;
  color: #8b8c8f;
}
