body {
  margin: 0;
  padding: 0;
  background: url(../images/background.jpg);
  background-size: cover;
  background-color: #2ec4c9;
  font-family: sans-serif;
  height: 100vh;
}

.registros {
  width: 520px;
  background: #fff;
  color: #277eb8;
  top: 8%;
  left: 32%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 2px 2px 2px #999;
}

.registros form {
  padding-left: 60px;
}

.registros .LOGO {
  width: 150px;
  height: auto;
  position: absolute;
  border-radius: 20px;
  top: 0px;
  left: 185px;
}

h1 {
  background: #277eb8;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  font-size: 20px;
  font-family: monospace;
  margin-top: 90px;
  margin-bottom: 20px;
}

label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  font-size: 15px;
}

#conf {
  font-style: italic;
  font-size: 15px;
}

input {
  border: none;
  border-bottom: 1px solid #277eb8;
  background: transparent;
  outline: none;
  height: 20px;
  color: #000;
  font-size: 15px;
  width: 85%;
  margin-bottom: 20px;
}

input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #277eb8;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
}

.login-error {
  color: #da3434;
  margin: -10px 0 20px 0;
}

.login-error::before {
  content: "*";
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: #277eb8;
  display: block;
  transform: translateX(10%) translateY(-2600%);
}

#cuenta {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: darkgrey;
  display: block;
  transform: translateX(30%) translateY(-80%);
}

a:hover {
  color: darkgrey;
}

#cuenta:hover {
  color: #000;
}
